{
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "rules": {
    "semi": 0,
    "prettier/prettier": ["error", { "trailingComma": "es5", "semi": false }]
  },
  "plugins": [
    "react",
    "prettier"
  ],
  "extends": [
    "eslint:recommended",
    "prettier",
    "prettier/react"
  ]
}
